/* Zakladni nastaveni */

body {
	text-align: left;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 0.8em;
	padding: 0;
	margin: 0;  /*10*/
	margin-top: -1em;
}

/*  Chyba */
#error {
  color: #aa0000;
  font-weight: bold;
}

/* Graficke logo */

/* logo */
#logo, #sidebar, #sectionmenu, #sidebar
{
	display: none;
}

#menu,
#footer {
	display: none;
}

p, div{
	background-color: white;
	color: black;
}

/* Telo stranky */
#main {
	margin-left: 0px;
	float: right;
        width: 100%;
        padding: 0;
        border: 0; 
}


#mainpage {
  /*width: 800px;*/ 
  /*float: left;  MP*/
	margin-left: 10px;
	padding-left: 1.5em;
	text-align: left;
	font-size: 1.2em;
}

#mainpage h1 {
	text-align: left;
	padding: 0;
	font-size: 1.8em;
}

#mainpage h2 {
	text-align: left;
	padding: 0 ;
	font-size: 1.2em;
}

#mainpage b {
	font-weight: bold;	
}

.ileft {
	float:left;
	margin-left: 1px;
}

.iright {
	float:right;
	margin-right: 1px;
}

#mainpage A:link, #mainpage A:active, #mainpage A:visited { 
        text-decoration: underline;        
}

#mainpage A.hl:link, #mainpage A.hl:active, #mainpage A.hl:visited { 
        text-decoration: none;        
}

#mainpage A:hover, #mainpage A.hl:hover {
        text-decoration: underline;
}

#mainpage div.important {
	text-align: left;
	padding: 0;
	font-weight: bold;
	
}

/* Novinky na hlavni strance */
#news {
        font-size: 0.8em;
	display: block;
	padding: 0;
	margin: 1em;
	width: 33em;
}

#news h2 {
	margin: 0.2em;
	text-align: left;
}

#news div.date {
	font-weight: bold;
	display: block;
	width: 29em;
	margin:0;
	text-align: left;
	background: #000000;
	border: 1px solid #000;
	border-bottom-style:none;
}

div#news>div.date {
	width:6em;
	padding-right:27em;
	text-align: right;
}

#news p {
	margin:0 0 0.5em 0;
	display: block;
	padding: 0.2em 0 0.2em 1em;	
	border: 1px solid #000;
	border-top-style: none;
	background: #000000;
}

/* Novinky na hlavni strance */
#seznam {
  font-size: 0.8em;
	display: block;
	padding: 0;
	margin: 0;		
}

#seznam p {
	margin:0 0 0 0;
	display: block;
	padding: 0.4em 4em 0.4em 1em;	
	border: 1px solid #000000;		
}

/* Forum */

#forum {
  font-size: 0.8em;
	display: block;
	padding: 0;
	margin: 0;  		
}

#forum div.nazev {
  font-size: 0.8em;
	font-weight: bold;
	display: block;
	margin:0;
	text-align: left;
	background: #000000;
	border-bottom-style:none;
	padding: 1.5em 0em 0.2em 0em;
}

div#forum>div.nazev {
	
	padding-right:27em;
	text-align: left;
}

#forum div.date {
  font-size: 0.8em;
	display: block;
	margin:0;
	text-align: right;
	background: #000000;
	border-bottom-style:none;
}

div#forum>div.date {		
	text-align: right;
}

#forum p {
	margin:0 0 0 0;
	display: block;
	font-size: 0.8em;
	padding: 0.4em 4em 0.4em 1em;			
	background: #000000;
	border: 1px solid #000000;
  width:500px;
}

#stranka {
  padding: 2em 0em 0em 0em;
}

#stranka b {
	font-weight: bold;
}

b#stranka {		
	text-align: right;
}

/* Tabulka s vysledky */
#vysledky,
.datagrid {
	border-collapse: collapse;
}

#vysledky td,
#vysledky th,
.datagrid td,
.datagrid th { 
	border: 1px solid black; 
	padding: 2px; 
	margin: 0; 
	font-size: 0.8em;
}

.cap { background-color: #606060;}
.g { background-color: green;  }
.y { background-color: blue;}
.r { background-color: red; }
.b { background-color: black; }

.noPrint {
	display: none;
}

.noScreen {
	display: block;
}