{% extends "_main.jinja" %}

{% block title %}Page not found{% endblock %}

{% block main %}
<div class="row ">
    <div class="col-md-12">
        <div class="error-template">
            <h2>404 Stránka nenalezena</h2>
            <div class="error-details">
                Požadovaná stránka nebyla nalezena
            </div>
            <div class="error-actions">
                <a href="/" class="btn btn-primary btn-lg"> Zpět </a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}