{% extends "_main.jinja" %}

{% block title %}Error{% endblock %}

{% block main %}
<div class="row ">
    <div class="col-md-12">
        <div class="error-template">
            <h2>500 Neznámá chyba</h2>
            <div class="error-details">
                Neznámá chyba.
            </div>
            <div class="error-actions">
                <a href="/" class="btn btn-primary btn-lg"> Zpět </a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}