Vagrantfile
.vagrant
__pycache__
docker-compose.yml
database/localhost.sql
bootstrap.sh
.gitignore
REST.txt
database/db_init.sh
configs/docker.py
hksova/configs/docker.py
hksova/configs/default.py
docker-compose.yml
configs/docker.py
configs/setevars.sh

