__pycache__
.gitignore
.vagrant
bootstrap.sh
configs/docker.py
configs/setevars.sh
database/db_init.sh
database/localhost.sql
database/osjak_cz3.sql
docker-compose.yml
hksova/configs/default.py
hksova/configs/docker.py
hksova/static/data/
REST.txt
Vagrantfile
