Flask==2.1.2
Flask-MDEditor==0.1.4
Flask-MySQLdb==1.0.1
Flask-WTF==1.0.1
mistune==2.0.2
mysqlclient==2.1.0
python-dateutil==2.8.2
passlib==1.7.4
email-validator==1.2.1
flask-paginate==2022.1.8
cryptography==37.0.4
qrcode==7.3.1
Pillow==9.2.0