<!DOCTYPE html>

{% include "_header.jinja" %}

<body>
<div class='dashboard'>
{% include "_menu.jinja" %}
    <div class='dashboard-app'>
        <header class='dashboard-toolbar'>
            <a href="#!" class="menu-toggle"><img src={{url_for("static", filename="img/bars.png")}}></a>
            <h1>Hradecká sova {{ year.year }}</h1>
        </header>
        <div class='dashboard-content'>
            <div class='container'>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="flash {{category}}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <div class='card'>
                    <div class='card-body'>
                    {% block main %} {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

