<div class="dashboard-nav">
    <header>
        <a href="#!" class="menu-toggle"><img src={{url_for("static", filename="img/bars.png")}}></a>
        <a href="/" class="brand-logo"><img src={{url_for("static", filename="img/sova_bila_mala.png")}} title="Logo Hradecká sova" alt="Logo Hradecká sova" /></a>
    </header>

    <nav class="dashboard-nav-list">
        {% if session.org %}
            <div class='dashboard-nav-dropdown'><a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle"></i> Administrace </a>
            <div class='dashboard-nav-dropdown-menu'>
                <a href="{{ url_for('admin' ~ year.year ~ '.view_admin_pages') }}" title="Správa stránek" class="dashboard-nav-item">Správa stránek</a>
                <a href="{{ url_for('admin' ~ year.year ~ '.view_admin_menu') }}" title="Správa menu" class="dashboard-nav-item">Správa menu</a>
            </div>
            </div>
        {% endif %}

        <a href="{{ url_for('main' ~ year.year ~ '.view_index') }}" title="Informace o hře" class="dashboard-nav-item">Informace</a>
        <a href="{{ url_for('team' ~ year.year ~ '.view_teams') }}" title="Týmy" class="dashboard-nav-item">Týmy </a>

        {% if session.logged %}
            {% if year.is_current_year %}
            <div class='dashboard-nav-dropdown'><a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle"></i> Můj tým </a>
                <div class='dashboard-nav-dropdown-menu'>
                {% if not session.org %}
                <a href="{{ url_for('team' ~ year.year ~ '.view_team') }}" title="Údaje o týmu" class="dashboard-nav-item">Údaje o týmu</a>
                <a href="{{ url_for('team' ~ year.year ~ '.view_password_change') }}" title="Změna hesla" class="dashboard-nav-item">Změna hesla</a>
                <a href="{{ url_for('team' ~ year.year ~ '.view_registration_cancel') }}" title="Zrušení registrace" class="dashboard-nav-item">Zrušení registrace</a>
                {% endif %}
                <a href="{{ url_for('team' ~ year.year ~ '.logout_team') }}" title="Odhlášení" class="dashboard-nav-item">Odhlášení</a>
                </div>
            </div>
            {% endif %}
        {% else %}
            {% if year.is_current_year %}
                <a href="{{ url_for('team' ~ year.year ~ '.view_registration') }}" title="Registrace" class="dashboard-nav-item ">Registrace</a>
                <a href="{{ url_for('team' ~ year.year ~ '.login_team') }}" title="Přihlášení" class="dashboard-nav-item ">Přihlášení</a>
            {% endif %}
        {% endif%}

        <a href="{{ url_for('forum' ~ year.year ~ '.view_forum_section') }}" title="=Fórum" class="dashboard-nav-item ">Fórum</a>

        <div class='dashboard-nav-dropdown'><a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle"></i> Ročníky </a>
        <div class='dashboard-nav-dropdown-menu'>
          <a href="{{ url_for('main2022.view_index') }}" title="informace o hře" class="dashboard-nav-item">Ročník 2022 </a>
          <a href="{{ url_for('main2021.view_index') }}" title="informace o hře" class="dashboard-nav-item">Ročník 2021 </a>
        </div>
        </div>
    </nav>
</div>

