{% extends "_main.jinja" %}
{% block main%}
{%- if (session.org) -%}
<p class="float-right"><a href="{{ url_for('admin' ~ year.year ~ '.view_admin_page', idpage=page.idpage) }}"><button type="submit" class="btn btn-primary">Upravit</button></a></p>
{% endif %}
{{ page['html'] }}

{% if year.is_current_year %}
<form action="{{url_for('forum' ~ year.year ~ ".create_post", section_id=section_id)}}" method="post">
    {{ form.csrf_token }}
    <input class="hidden" name="source_url" value="{{ form.source_url }}">
    <div class="form-row">
      {{ form.user(class="form-control", id="inputUser", placeholder="Jméno") }}
    </div>
    <p>
    <div class="form-row">
      {{ form.post(class="form-control", id="inputPost", placeholder="Příspěvek") }}
    </div>
  <p><p>
  <button type="submit" class="btn btn-primary">Vložit příspěvek</button>
</form>

{% endif %}
{% if section %}
    {% for post in section %}
    <table class="table table-dark table-striped">
        <tr><td>{{post.name}} {% if session.org %} <small>({{ post.dns }})</small> {% endif %}</td><td align="right">{{post.insertedAt}}  </td></tr>
        <tr><td colspan=2>{{ post.text }} </td></tr>
    </table>
    {% endfor %}
    <div class="d-flex justify-content-center">{{ pagination.links }}</div>

{% endif %}
{% endblock %}