{% extends "_main.jinja" %}
{% block main%}

<h2>Přihlášení týmu</h2>

<form {{url_for('team' ~ year ~ ".view_login")}} method="post">
    {{ form.csrf_token }}
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputLogin">{{ form.loginname.label }}</label>
      {{ form.loginname(size=20, class="form-control", id="inputLogin", placeholder="Přihlašovací jméno") }}
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword">{{ form.password.label }}</label>
      {{ form.password(class="form-control", id="inputPassword", placeholder="Password") }}
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Přihlásit</button>
</form>
{% endblock %}