{%- extends "_main.jinja" -%}
{%- block main -%}

<h2>Reset hesla</h2>

<form action="{{url_for('team' ~ year.year ~ ".reset_password", resetcode=resetcode)}}" method="post">
    {{ form.csrf_token }}
    <input class="hidden" type="hidden" name="resetcode" value="{{ resetcode }}">
     <div class="form-group">
        <label for="passwor1">Nové heslo</label>
        {{ form.password1(class="form-control", id="password1", placeholder="Nové heslo") }}
    </div>
     <div class="form-group ">
        <label for="passwor2">Nové heslo</label>
        {{ form.password2(class="form-control", id="password1", placeholder="Nové heslo znovu") }}
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Resetovat heslo</button>
    <button type="button"  class="btn btn-primary" onclick="history.back()">Zpět</button>
</form>
{%- endblock -%}