{%- extends "_main.jinja" -%}
{%- block main -%}

<h2>Zapomenuté heslo</h2>
<form action="{{url_for('team' ~ year.year ~ ".forget_password")}}" method="post">
    {{ form.csrf_token }}
     <div class="form-row">
        <label for="email">Kontaktní email</label>
        {{ form.email(class="form-control", id="email", placeholder="Email") }}
    </div>
    <div>Na kontaktní email bude odeslán odkaz na reset hesla.</div>
    <br>
    <button type="submit" class="btn btn-primary">Resetovat heslo</button>
    <button type="button"  class="btn btn-primary" onclick="history.back()">Zpět</button>
</form>
{%- endblock -%}