{%- extends "_main.jinja" -%}
{%- block main -%}

<h2>Zrušení registrace týmu {{ session.team }}</h2>

<form action="{{url_for('team' ~ year.year ~ ".registration_cancel")}}" method="post">
    {{ form.csrf_token }}
     <div class="form-row">
        <div class="col"> {{ form.agree.label}}</div>
        <div class="col">{{ form.agree() }}</div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Zrušit registraci</button>
    <button type="button"  class="btn btn-primary" onclick="history.back()">Zpět</button>
</form>
{%- endblock -%}