{% extends "_main.jinja" %}
{% block main%}

<h2>Registrované týmy</h2>

<table id="table" class="table-dark table-striped" data-toggle="table" data-filter-control="true" data-click-to-select="true">
  <thead>
    <tr>
        <th data-field="team-order" data-sortable="true">#</th>
        <th data-field="team-name" data-sortable="true" data-formatter="teamFormatter" data-filter-control="input">Tým</th>
        <th data-field="team-web" data-visible="false">Web</th>
        <th data-field="team-players">Hráči</th>
        <th data-field="team-paid" data-filter-control="select">Startovné</th>
        <th data-field="team-status" data-filter-control="select">Stav</th>
    </tr>
  </thead>
  <tbody>
{% if teams %}
    {% for team in teams %}
    <tr>
        <td >{{ team.order}}</td>
        <td>{{ team.name}}</A></td>
        <td>{{ team.weburl}}</A></td>
        <td>{{ team.players_public}}</td>
        <td>{{ team.zaplaceno}}</td>
        <td>{{ team.stav}}</td>
    </tr>
    {% endfor %}
{% endif %}
  </tbody>
</table>

{% endblock %}