{% extends "_main.jinja" %}
{% block main%}

<h2>Registrované týmy</h2>

<table border=1>
<tr>
    <th>#</th>
    <th>Tým</th>
    <th>Hráči</th>
    <th>Startovné</th>
    <th>Stav</th>
</tr>
{% if teams %}
    {% for team in teams %}
    <tr>
        <td>{{ team.order}}</td>
        <td>{{ team.name}}</td>
        <td>{{ team.players}}</td>
        <td>{{ team.zaplaceno}}</td>
        <td>{{ team.stav}}</td>
    </tr>
    {% endfor %}
{% endif %}
</table>

{% endblock %}