{%- extends "_main.jinja" -%}
{%- block main -%}

<h2>Správa sekcí fóra</h2>

<A href=" {{ url_for('admin' ~ year.year ~ ".view_forum_section_add")}}">  <button type="submit" class="btn btn-primary" >Nová sekce fóra</button></A>
<p>
<table id="table" class="table-dark table-striped" data-toggle="table" data-filter-control="true" data-click-to-select="true">
  <thead>
    <tr>
        <th data-field="forum-order" data-sortable="true" >Pořadí</th>
        <th data-field="forum-name" data-sortable="true" data-filter-control="input">Název</th>
        <th data-field="forum-visibility" data-sortable="true" data-filter-control="select">Viditelnost</th>
        <th data-field="forum-action" data-formatter="forumsActionFormatter">Akce</th>
    </tr>
  </thead>
  <tbody>
{%- if forum_sections -%}
    {%- for section in forum_sections -%}
    <tr>
        <td>{{ section.order}}</td>
        <td>{{ section.section}}</td>
        <td>{{ section.visibility}}</td>
        <td>
            <a href="{{ url_for('admin' ~ year.year ~ '.view_admin_forum_section', idsection=section.idforumsection) }}"><img alt="=Úprava" src={{url_for("static", filename="img/edit.gif")}}></a>
            <a href="{{ url_for('admin' ~ year.year ~ '.view_forum_section_delete', idsection=section.idforumsection) }}"><img alt="=Smazání" src={{url_for("static", filename="img/delete.gif")}}></a>
        </td>
    </tr>
    {%- endfor -%}
{%- endif -%}
  </tbody>
</table>
{%- endblock -%}