{%- extends "_main.jinja" -%}
{%- block main -%}

<h2>Úprava sekce fóra</h2>
<form action="{{url_for('admin' ~ year.year ~ ".edit_forum_section", idsection=idsection)}}" method="post">
  {{ form.csrf_token }}
  <div class="form-row">
    <div class="col">
      <label for="inputOrder">{{ form.order.label }}</label>
    </div>
    <div class="col">
      {{ form.order(class="form-control", id="inputOrder", placeholder="Pořadí sekce") }}
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <label for="inputMenu">{{ form.section.label }}</label>
    </div>
    <div class="col">
      {{ form.section(class="form-control", id="inputMenu", placeholder="Popis sekce") }}
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <label for="inputIsVisible">{{ form.isvisible.label }}</label>
    </div>
    <div class="col">
      {{ form.isvisible(class="form-control", id="inputIsVisible") }}
    </div>
  </div>  
  <p><p>
  <button type="submit" class="btn btn-primary">Upravit sekci</button>
  <button type="button"  class="btn btn-primary" onclick="history.back()">Zpět</button>
</form>

{%- endblock -%}