{%- extends "_main.jinja" -%}
{%- block main -%}

<h2>Nový maskot</h2>
<form action="{{url_for('admin' ~ year.year ~ ".create_mascot")}}" method="post">
  {{ form.csrf_token }}
  <div class="form-row">
    <div class="col"><label for="inputParam">{{ form.mascot.label }}</label></div>
    <div class="col">{{ form.mascot(class="form-control", id="inputParam", placeholder="Maskot") }}</div>
  </div>
  <p><p>
  <button type="submit" class="btn btn-primary">Nový maskot</button>
  <button type="button"  class="btn btn-primary" onclick="history.back()">Zpět</button>
</form>
{%- endblock -%}