{% extends "_main.jinja" %}
{% block main%}

<h2>Správa menu</h2>

<A href=" {{ url_for('admin' ~ year.year ~ ".view_menu_item_add")}}">  <button type="submit" class="btn btn-primary" >Nová položka v menu</button></A>
<p>

<table id="table" class="table-dark table-striped" data-toggle="table" data-filter-control="true" data-click-to-select="true">
  <thead>
    <tr>
        <th data-field="menu-irder" data-sortable="true">Pořadí</th>
        <th data-field="menu-menu" data-sortable="true" data-filter-control="input">Menu</th>
        <th data-field="menu-url" data-sortable="true" data-filter-control="input">Odkaz</th>
        <th data-field="menu-tyoe" data-sortable="true" data-filter-control="select">Typ</th>
        <th data-field="menu-visibility" data-sortable="true" data-filter-control="select">Viditelnost</th>
        <th data-field="menu-access-rights" data-sortable="true" data-filter-control="select">Oprávnění</th>
        <th data-field="menu-year" data-sortable="true" data-filter-control="select">Ročník</th>
        <th data-field="menu-action" data-formatter="menuActionFormatter">Akce</th>
    </tr>
  </thead>
  <tbody>
{% if admin_menu %}
    {% for item in admin_menu %}
    <tr>
        <td>{{ item.order}}</td>
        <td>{{ item.menu}}</td>
        <td>{{ item.link}}</td>
        <td>{{ item.menutyp}}</td>
        <td>{{ item.visibility}}</td>
        <td>{{ item.access_right}}</td>
        <td>{{ item.currentyear}}</td>
        <td>
            <a href="{{ url_for('admin' ~ year.year ~ '.view_menu_item', idmenu=item.idmenu) }}"><img alt="=Úprava" src={{url_for("static", filename="img/edit.gif")}}></a>
            <a href="{{ url_for('admin' ~ year.year ~ '.view_menu_item_delete', idmenu=item.idmenu) }}"><img alt="=Smazání" src={{url_for("static", filename="img/delete.gif")}}></a>
        </td>
    </tr>
    {% endfor %}
{% endif %}
  </tbody>
</table>
{% endblock %}