{%- extends "_main.jinja" -%}
{%- block main -%}

<h2>Správa stránek</h2>
<A href=" {{ url_for('admin' ~ year.year ~ ".view_page_add")}}">  <button type="submit" class="btn btn-primary" >Nová stránka</button></A>
<p>

<table id="table" class="table-dark table-striped" data-toggle="table" data-filter-control="true" data-click-to-select="true">
  <thead>
    <tr>
        <th data-field="page-name" data-sortable="true" data-filter-control="input">Název</th>
        <th data-field="page-url" data-sortable="true" data-filter-control="input">URL</th>
        <th data-field="page-visible" data-sortable="true" data-filter-control="select">Viditelnost</th>
        <th data-field="page-access-right" data-sortable="true" data-filter-control="select">Oprávnění</th>
        <th data-field="page-action" data-formatter="pagesActionFormatter">Akce</th>
    </tr>
  </thead>
  <tbody>
{%- if pages -%}
    {%- for page in pages -%}
    <tr>
        <td>{{ page.title}}</td>
        <td>{{ page.url}}</td>
        <td>{{ page.visibility}}</td>
        <td>{{ page.access_right}}</td>
        <td>
          <a href="{{ url_for('admin' ~ year.year ~ '.view_admin_page', idpage=page.idpage) }}"><img alt="=Úprava" src={{url_for("static", filename="img/edit.gif")}}></a>
          <a href="{{ url_for('admin' ~ year.year ~ '.view_page_delete', idpage=page.idpage) }}"><img alt="=Smazání" src={{url_for("static", filename="img/delete.gif")}}></a>
        </td>
    </tr>
    {%- endfor -%}
{%- endif -%}
  </tbody>
</table>
{%- endblock -%}