{%- extends "_main.jinja" -%}
{%- block main -%}
<h2>Úprava stránky</h2>
<form action="{{url_for('admin' ~ year.year ~ ".edit_page", idpage=idpage)}}" method="post">
    {{ form.csrf_token }}
    <div class="row">
        {{ form.title(class="form-control", placeholder="Nadpis") }}
    </div>
    <p>
    <div class="row">
      {{ form.url(class="form-control", placeholder="URL") }}
    </div>
    <p>
    <div class="row">
        {{ form.content(class="form-control", placeholder="Příspěvek") }}
    </div>
    <div class="form-row">
        <div class="col">
            <label for="inputPage">{{ form.forum_section.label }}</label>
        </div>
        <div class="col">
            {{ form.forum_section(class="form-control", id="inputPage") }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            Stránka je aktivní
        </div>
        <div class="col">
            {{ form.isvisible() }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            Přístupová práva 
        </div>
        <div class="col">
            {{ form.access_rights() }}
        </div>
    </div>
  <p>
  <button type="submit" name="action" value="save_and_page" class="btn btn-primary">Uložit a zpět na stránku</button>
  <button type="submit" name="action" value="save_and_list" class="btn btn-primary">Uložit a zpět do seznamu</button>
  <button type="button"  class="btn btn-primary" onclick="history.back()">Zpět</button>
</form>
{%- endblock -%}