{%- extends "_main.jinja" -%}
{%- block main -%}

<h2>Změna hesla</h2>

<form action="{{url_for('admin' ~ year.year ~ ".admin_change_password")}}" method="post">
    {{ form.csrf_token }}
     <div class="form-row">
        <label for="passwordold">Původní heslo</label>
        {{ form.password_old(class="form-control", id="passwordold", placeholder="Původní heslo") }}
    </div>
     <div class="form-group">
        <label for="passwor1">Nové heslo</label>
        {{ form.password1(class="form-control", id="password1", placeholder="Nové heslo") }}
    </div>
     <div class="form-group ">
        <label for="passwor2">Nové heslo</label>
        {{ form.password2(class="form-control", id="password1", placeholder="Nové heslo znovu") }}
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Změna hesla</button>
    <button type="button"  class="btn btn-primary" onclick="history.back()">Zpět</button>
</form>
{%- endblock -%}