{%- extends "_main.jinja" -%}
{%- block main -%}

<h2>Správa šifer</h2>
<a href=" {{ url_for('admin' ~ year.year ~ ".view_puzzle_add")}}">  <button type="submit" class="btn btn-primary" >Nová šifra</button></a>
<p>
<table id="table" class="table-dark table-striped" data-toggle="table" data-filter-control="true" data-click-to-select="true" data-escape="false">
  <thead>
    <tr>
        <th data-field="setting-action" data-formatter="settingsActionFormatter">Akce</th>
        <th data-field="setting-param" data-sortable="true" data-filter-control="input">#</th>
        <th data-field="setting-param1" data-sortable="true" data-filter-control="input">Název</th>
        <th data-field="setting-param2" data-sortable="true" data-filter-control="input">Kód</th>
        <th data-field="setting-param3" data-sortable="true" data-filter-control="input">Zadání</th>
        <th data-field="setting-param4" data-sortable="true" data-filter-control="input">Stanoviště</th>
        <th data-field="setting-param5" data-sortable="true" data-filter-control="input">Upřesnítko</th>
        <th data-field="setting-param9" data-sortable="true" data-filter-control="input">Nápověda</th>
        <th data-field="setting-param12" data-sortable="true" data-filter-control="input">Řešení</th>
        <th data-field="setting-param7" data-sortable="true" data-filter-control="input">Komentář</th>
    </tr>
  </thead>
  <tbody>
{%- if puzzles -%}
    {%- for puzzle in puzzles -%}
    <tr>
        <td>
          <a href="{{ url_for('admin' ~ year.year ~ '.view_puzzle', puzzle_id=puzzle.id) }}"><img alt="=Úprava" src={{url_for("static", filename="img/edit.gif")}}></a>
          <a href="{{ url_for('admin' ~ year.year ~ '.view_puzzle_delete', puzzle_id=puzzle.id) }}"><img alt="=Smazání" src={{url_for("static", filename="img/delete.gif")}}></a>
        </td>
        <td>{{ puzzle.position }}</td>
        <td>{{ puzzle.name }}</td>
        <td>{{ puzzle.code }}</td>
        <td>{{ puzzle.description }} 
          {% if puzzle.url %}
            <a href="{{ puzzle.url | trim }}" target="_blank">🔗</a>
          {% endif %}
        </td>
        <td>{{ puzzle.place.name }}</td>
        <td>{{ puzzle.specification }}</td>
        <td>{{ puzzle.hint_interval }}: {{ puzzle.hint }}</td>
        <td>{{ puzzle.solution_interval }}: {{ puzzle.solution }}</td>
        <td>{{ puzzle.comment }}</td>
    </tr>
    {%- endfor -%}
{%- endif -%}
  </tbody>
</table>

{%- endblock -%}
