{% extends "_main.jinja" %}
{% block main%}

<h2>Správa nastavení</h2>

<A href=" {{ url_for('admin' ~ year.year ~ ".view_setting_add")}}">  <button type="submit" class="btn btn-primary" >Nové nastavení</button></A>
<p>
<table id="table" class="table-dark table-striped" data-toggle="table" data-filter-control="true" data-click-to-select="true">
  <thead>
    <tr>
        <th data-field="setting-param" data-sortable="true" data-filter-control="input">Parametr</th>
        <th data-field="setting-value" data-sortable="true" data-filter-control="input">Hodnota</th>
        <th data-field="setting-action" data-formatter="settingsActionFormatter">Akce</th>
    </tr>
  </thead>
  <tbody>
{% if settings %}
    {% for item in settings %}
    <tr>
        <td>{{ item.param}}</td>
        <td>{{ item.value}}</td>
        <td>
          <a href="{{ url_for('admin' ~ year.year ~ '.view_setting', idsetting=item.idsetting) }}"><img alt="=Úprava" src={{url_for("static", filename="img/edit.gif")}}></a>
          <a href="{{ url_for('admin' ~ year.year ~ '.view_setting_delete', idsetting=item.idsetting) }}"><img alt="=Smazání" src={{url_for("static", filename="img/delete.gif")}}></a>
        </td>
    </tr>
    {% endfor %}
{% endif %}
  </tbody>
</table>
{% endblock %}